{% extends "../base.html" %}
{% load static %}
{% block title %}{{ service.name }}{% endblock%}
{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        {% if messages %}
        <div class="d-flex-center">
            <div class="text-center">
                <div class="alert alert-success" role="alert">

                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
        {% endif %}
        <div class="container mb-4">
            <div class="row justify-content-start">
                <div class="col-9 col-sm-4">
                    <span class="text-primary fs-4 fs-sm-3 fw-bold">All {{ service.name|title }}s</span>
                    <hr class="d-sm-none">
                </div>
            </div>
        </div>
        {% include 'includes/product-card.html' %}
    </div>
</section>
{% endblock %}
